.wrap{
  width: 30%;
  position:relative;
  margin-top:15%;
  left: 35%;
  margin-bottom:5%;
}

.searchWord{
  float: left;
  width:100%;
  border: 3px solid #3cd4d3;
  padding-left:10px;
  height:35px;
  border-radius: 20px;
  color:#1f536b;
}
.searchWord:focus{
  color: #00B4CC;
}
.section{
  margin: 10px 0px;
}
.result{
  border:1px rgba(255,255,255,0.6) solid;
  border-radius:7px;
  background-color:rgba(255,255,255,0.3);
  transition:background-color 1s;
}
.result:hover{
  background-color:rgba(255,255,255,0.8);
}

.wiki_article {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #666;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  width: 600px;
}
